target/
!.mvn/wrapper/maven-wrapper.jar
!src/main/**/target/
!src/test/**/target/

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
.idea/
*.iws
*.iml
*.ipr
*.env

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!src/main/**/build/
!src/test/**/build/

# Maven/Java build output
*/target/
*.jar

# Terraform
**/.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log
*.tfvars
*.tfvars.json
.infra/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

### Logs ###
gc-*.log